@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f1f5f8;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}
.container {
  text-align: center;
}
.container h2 {
  background: #222;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  font-size: 32px;
  margin-bottom: 30px;
}
#color {
  color: #e32020;
}

.btn {
  padding: 20px;
  border: 2px solid #222;
  background-color: transparent;
  border-radius: 5px;
  font-size: 16px;
  letter-spacing: 1.5px;
  color: #222;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 600;
}
.btn:hover {
  background: #222d;
  color: #fff;
}
